<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h1>Signup</h1>
    <div>
        <form action="/user" method="post">
            <div>
                <label for="name">name</label>
                <input 
                    type="text" 
                    placeholder="john" 
                    name="name"
                />
            </div>
            <div>
                <label for="email">name</label>
                <input 
                    type="email" 
                    placeholder="john@gmail.com" 
                    name="email"
                />
            </div>
            <div>
                <label for="passward">Passward</label>
                <input 
                    type="passward" 
                    placeholder="passward" 
                    name="passward"
                />
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>